<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .highlight {
      color: #e8491d;
      font-weight: bold;
    }
  </style>
</head>

<body>

    <div class="jumbotron text-center">
        <h1 style="text-align: center">GANTLE MAN EXECUTIVE STORE</h1>
    </div>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homepage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="main.js"></script>
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>

        <h4><a href="/">Home</a> |
              <a href="/login">login</a> |
              <a href="/contacts">Store Contacts</a> |
              <a href="/products">List products</a> |        
              <a href="/logout" onclick="return alert('Do you want to logout?')">Logout</a></h4>
    </body>
    </html>