<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Transaction</title>
</head>
<body>
	<h1>Transaction</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Customer</th>
				<th>Product</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
		<%	data.forEach(el => { %>
				<tr>
					<td><%= el.id %></td>
					<td><%= el.Customer.name %></td>
					<td><%= el.Product.name %></td>
          <td><%= el.amount %></td>
				</tr>
		<%	}) %>
		</tbody>
	</table>	
</body>
</html>