<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Toko jaya abadi</title>
</head>
<body>
    <form action="/products/update/<%=data.id%>" method="POST">
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%=data.name%>">
    </div>
    <div>
        <label>QTY</label>
        <input type="text" name="qty" value="<%=data.qty%>">
    </div>
    <div>
        <label>Price</label>
        <input type="text" name="price" value="<%=data.price%>">
    </div>
    <div>
        <button
            type="submit">Add</button> 
    </div>
    </form>
</body>
</html>